body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("images/picture.jpg");
    background-size: cover;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 300 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    /*background: #ddebf8;*/
    background:lightgreen;
    color: #2b2839;
    border-bottom: 6px solid #187e08;
    border-radius: 8px;

    animation-name: changes;
    animation-duration: 7s;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

@keyframes changes{
    from{background-color:yellow;}
    to{background-color: lightgreen;}
}



